<!DOCTYPE html>
<html>
  <head>
    <title>CompAssist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
		 <nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary" id="main-nav">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">CompAssist</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--
					<li class="nav-item">
						<%= link_to snippets_path, class:'nav-link' do %>
							Snippets
						<% end %>
          </li>
					-->

          <li class="nav-item">
						<%= link_to evaluations_path, class:'nav-link' do %>
							User Study <span class="badge badge-default">Closed</span>
						<% end %>
          </li>
					<!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
					-->
        </ul>

				
			<% if !current_page?(root_url) %>
				<%= form_tag(diagnostic_messages_search_path, :class => "form-inline", :method => 'get') do %>
					<input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" id="q" value="<%= params[:q] %>">
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
				<% end %>
			<% end %>


				<ul class="navbar-nav mr-0">
					<% if user_signed_in? %>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "dropdown-item") %>        
							</div>
						</li>
					<% else %>
						<li class="nav-item">
							<%= link_to('Sign Up', new_user_registration_path, class: "nav-link") %>
						</li>
						<li class="nav-item">
							<%= link_to('Sign In', new_user_session_path, class: "nav-link")  %>
						</li>
					<% end %>				
				</ul>
      </div>
    </nav>	

		<div class="container-fluid" id="main-content">
	    <%= yield %>
			<%= render 'layouts/flash' %>
			<!--	
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, class: "alert alert-#{bootstrap_class_for(key)}", id: key %>
			<% end %>
			-->
		</div>

  </body>
</html>
