<p>
You are being asked to take part in an evaluation of a new programming tool
that may help developers resolve source code defects.  We are asking you to
take part because you have some C++ programming experience.  Please read this
form carefully and ask any questions you may have before agreeing to take part
in the study.
</p>

<p>
<b>What the study is about:</b> The purpose of this study is to evaluate a new
programming tool that may help developers resolve compiler errors. 
</p>

<p>
<b>What we will ask you to do:</b> If you agree to be in this study, we will
give you a series of C++ debugging tasks.  For each task, we will give you a
C++ code snippet and ask you to fix the code defect indicated by the compiler.
The study will last approximately 1 hour.
</p>


<p>
<b>Risk and benefits:</b> We do not anticipate any risks to you participating
in this study other than those encountered in day-to-day life.  There are no
immediate benefits to you.
</p>

<p>
<b>Compensation:</b> You will be given a $20 Amazon gift card.  The gift card
will be emailed to you by the Computer Science within a month from completing
the study.
</p>

<p>
<b>Your answers will be confidential:</b> The records of this study will be
kept private.  In any sort of report we make public we will not include any
information that will make it possible to identify you.  Research records will
be kept in password-protected files; only the researchers will have access to
the records.
</p>

<p>
<b>Taking part is voluntary:</b> Taking part in this study is completely
voluntary.  You may skip any tasks that you do not want to do.  If you decide
to take part, you are free to withdraw at any time.
</p>

<p>
<b>If you have questions:</b> The researchers conducting this study are Martin
Velez and Prof. Zhendong Su.  Please ask any questions you have now.  If you
have questions later, you may contact Martin Velez at marvelez@ucdavis.edu or
at (209) 292-4439.  You can reach Prof. Zhendong Su at su@ucdavis.edu.
</p>

<p>
If you are participating in the lab, you will be given a copy of this form.
Otherwise, you can print this form now to keep for your records.
</p>

<p>
<b>Statement of Consent:</b> I have read the above information, and have
received answers to any questions I asked.  I consent to take part in the
study.
</p>
