<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<br>
<div class="card">
	<div class="card-header">
		<h1>Evaluations</h1>
	</div>
	<div class="card-block">

<table class="table table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>User Name (Consent)</th>
      <th>User Email</th>
      <th>Code</th>
      <th>Consent</th>
      <th>Questionnaire</th>
      <th>Tutorial quiz</th>
      <th>Tasks</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |e| %>
      <tr>
        <td><%= link_to e.id, e %></td>
        <td><%= e.user_id %></td>
        <td><%= e.user.name %>(<%= e.consent["name"] %>)</td>
        <td><%= e.user.email %>(<%= e.consent["email"] %>)</td>
        <td><%= e.code %></td>
        <td><%= e.consent.nil? ? 0 : e.consent.size %></td>
        <td><%= e.questionnaire.nil? ? 0 : e.questionnaire.size %></td>
        <td><%= e.tutorial_quiz.nil? ? 0 : e.tutorial_quiz.size %></td>
        <td><%= e.tasks.nil? ? 0 : e.tasks.size %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(e) %></td>
        <td><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Times Report', evaluations_times_report_path %>
<%= link_to 'New Evaluation', new_evaluation_path %>
	</div><!-- card-block -->
</div><!-- card -->
</br>

</div>
</div>
