<style type="text/css" media="screen">

.card-header {
	padding-left: 10px;
}

.card .card-floater{
	font-size:10px;
	color: transparent;
}
.card:hover .card-floater{
	color: lightgrey;
}
#first-col, #second-col {
	height: 100%;
}
#first-card, #second-card, #third-card {
	margin-top:15px;
	margin-bottom:15px;
	width: 100%;
}
#first-col {
	padding-right:7px;
}
#second-col {
	padding-left:7px;
}
#second-card pre{
	/*padding-left: 15px;
	padding-right: 15px;*/
	/*padding: 0.75rem 1.25rem;*/
	padding-left: 10px;
	padding-top: 10px;
	background-color: black;
	color: white;
	height: 100%;
}
#second-card .tab-content {
	height: 100%;
	overflow: auto;
}
#second-card .tab-pane {
	height: 100%;
}


#editor {
/*position:absolute;*/
	width: 100%;
	height: 100%;
	/*border: 1px solid rgba(0,0,0,0.125)*/
	/*height: 400px;*/
}

.inst {
	/*background-color: rgba(0, 0, 0, 0.125);*/
	background-color: white;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
pre { 
	font-size: 12px;
	line-height: 18px;
}



.separator {
    text-align: center;
    height: 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.5em;
}
.separator:first-line {
    background-color: white;
}
.separator:before {
    content: "__";
    color: white;
}
.separator:after {
    content: "__";
    color: white;
}

.tab-pane {
/*padding: 10px;*/
}

</style>

<style>
.diff{
	overflow:auto;
	font:12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	color:black;
}
.diff ul{background:#fff;overflow:auto;list-style:none;margin:0;padding:5px;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:5px; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
</style>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Possible Fixes Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>This is a list of code edits. <b>One</b> of these edits may fix your code.</p>
				<h3>Legend</h3>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-success">Insert </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-danger">Delete </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<h3>Examples</h3>
				<p>For each code edit, we display a small piece of code that has a similar problem as <b>your code</b> and a corresponding fix.</p>

				<h3>How do we make these suggestions?</h3>
				<p>We have a large set of buggy code snippets and corresponding fixes code snippets.  We categorize all fix
				</p>
			</div>	
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>

<% if @group == "experimental" %> 
	<%= render 'task_experimental' %>
<% else %>
	<%= render 'task_control' %>
<% end %>

<div class="" style="background-color:#f3f3f3;position:absolute;bottom:0;right:0;height:150px;line-height:1em" id="draggable">
	<p>Started At: <%= localize(DateTime.rfc3339(@started_at), format: :long) %></p>
	<ul>
		<li>This code contains a small defect.</li>
		<li>Find and fix the defect.</li>
		<li>If it compiles, then you have likely found the solution.</li>
	</ul>
	<%= form_tag(evaluations_task_finish_path, method: "post") do %>
		<%= text_field_tag(:snippet_id, @snippet.id, hidden: true) %>	
		<%= text_area_tag(:code, nil, hidden: true) %>	
		<%= submit_tag("Submit Code", class: "btn btn-primary") %>
	<% end %>
</div>

<script>
  $( function() {
    $( "#draggable" ).draggable();
  } );
</script>
