<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<br>
<div class="card">
	<div class="card-header">Time Report</div>
	<div class="card-block">

	<table class="table table-sm">
		<thead>
			<tr>
				<th></th>
				<th></th>
			<% Snippet.order(:id).each do |s| %>
				<th colspan="2"><%= s.id %></th>
			<% end %>		
			</tr>
			<tr>
				<th>Evaluation</th>
				<th>Participant</th>
			<% Snippet.order(:id).each do |s| %>
				<th>C</th>
				<th>E</th>
			<% end %>		
			</tr>
		</thead>
		<tbody>
		<% @evaluations.each do |e| %>
				<tr>
					<td><%= e.id %></td>
					<td><%= e.user.email %></td>
				<% Snippet.order(:id).each do |s| %>
					<% if e.tasks[s.id.to_s].nil? %>
						<td>-</td>
						<td>-</td>  
					<% elsif e.tasks[s.id.to_s]['timeout'] == 't' %>
						<td>TO</td>
						<td>TO</t>  
					<% elsif e.tasks[s.id.to_s] == 'control' %>
						<td>-</td>
						<td><%= DateTime.rfc3339(tasks[s.id.to_s].submitted_at) -
	DateTime.rfc3339(e.tasks[s.id.to_s].started_at) %></td>
					<% elsif e.tasks[s.id.to_s] == 'experimental' %>
						<td><%= DateTime.rfc3339(tasks[s.id.to_s].submitted_at) -
	DateTime.rfc3339(e.tasks[s.id.to_s].started_at) %></td>
						<td>-</td>
					<% end %><!-- if -->		
				<% end %><!-- Snippets -->		
				</tr>
		<% end %>
		</tbody>
	</table>

	<br>
	</div><!-- card-block -->
</div><!-- card -->
</br>

</div>
</div>
