<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12">
<br>
<div class="text-center">
<ul class="nav nav-pills nav-fill">
	<li class="nav-item">
	<%= link_to "Consent Form", evaluations_consent_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Entry Questionnaire", evaluations_questionnaire_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tutorial", evaluations_tutorial_path, class: "nav-link active" %>
	</li>
	<li class="nav-item">
	<%= link_to "Tasks", evaluations_tasks_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Final Questionnaire", evaluations_questionnaire_final_path, class: "nav-link" %>
	</li>
	<li class="nav-item">
	<%= link_to "Exit", evaluations_thank_you_path, class: "nav-link" %>
	</li>
</ul>
</div>
<br>
<div class="card">
<div class="card-header">
Tutorial <small>(Please watch the video for a brief tutorial on our tool.)</small>
</div>
<div class="card-block">

<p>If possible, we recommend you watch in full screen at the highest resolution possible.</p>

<div class="">
<iframe width="560" height="315" src="https://www.youtube.com/embed/JfsGXJSOgeU" frameborder="0" allowfullscreen></iframe>
</div>
<%= form_tag(evaluations_record_tutorial_quiz_path, method: "post", class: "form") do %>
	<div class="form-group">
		<%= hidden_field_tag(:started, @tutorial["started"], class: "form-control", hidden: true) %>
	</div>

	<fieldset class="form-group row">
    <legend class="col-form-legend col-sm-10">I watched and understood the tutorial video.</legend>
		<div class="col-sm-2">
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					<%= radio_button_tag 'confirmation', 't', @tutorial["confirmation"] == "t", required: true, class: "form-check-input" %>
					True	
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					<%= radio_button_tag 'confirmation', 'f', @tutorial["confirmation"] == "f", required: true, class: "form-check-input" %>
					False	
				</label>
			</div>
    </div>
  </fieldset>
	
  <%= submit_tag("Submit", class: "btn btn-primary btn-block") %>
<% end %>

</div>
<br>
<br>
</div>
</div>
