<style>
.navbar {
	display: none
}
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<dl class="row">
					<dt class="col-sm-4">Uncompilable Code</dt>
					<dd class="col-sm-8">This code triggers a compiler error.</dd>

					<dt class="col-sm-4">Uncompilable Code + Fix</dt>
					<dd class="col-sm-8">This code shows the insertions/deletions you can make to the uncompilable code to make it compilable.</dd>

					<dt class="col-sm-4"><ins>Lime text</ins></dt>
					<dd class="col-sm-8">Insert the highlighted characters.</dd>

					<dt class="col-sm-4"><del>Yellow text</del></dt>
					<dd class="col-sm-8">Delete the highlighted characters.</dd>

				</dl>
      </div>
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>

<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-md-12 my-auto">
  	<p style="margin:0"><%= @diagnostic_message.compiler.name %>
		/
		<span style="margin:0;font-family:Consolas, Lucida Console, monospace;color:red"><b><%= @diagnostic_message.message %></b></span></p>
	</div>
</div>

<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
	<div class="card-block" style="padding: 0.25rem 0.5rem">
	<p style="margin-bottom:0">Showing <span id="ex-count" data-ex_count="<%= @diagnostic_message.examples.size %>" style="color:#0275d8"><%= @diagnostic_message.examples.size %></span> examples that trigger the same compiler error.
	<span class="pull-right"><a href="" data-toggle="modal" data-target="#myModal" style="color:lightgray">Help <i class="fa fa-question-circle" aria-hidden="true"></i></a></span></p>
	</div>
</div>

<style>
.card-header {
	color: #c5c5c5;
}
</style>

<br>
<% @examples.each_with_index do |ex,i| %>
<div class="card-group">
	<div class="card">
		<!--<div class="card-header" style="background-color:white;padding:0.25rem 1.25rem"><i class="fa fa-times-circle" aria-hidden="true" style="color:red"></i> Buggy Code</div>-->
		<div class="card-header" style="background-color:white;padding:0.25rem 0.5rem;color:lightgray">Uncompilable</div>
		<%= content_tag :pre, ex.buggy, id: "left-editor-#{i}", data: {code: ex.buggy}, style: "height:100%;padding-bottom:0" %>
	</div>

	<div class="card">
		<div class="card-header" style="background-color:white;padding:0.25rem 0.5rem;color:lightgray">Uncompilable + Fix
</div>
		<%= content_tag :pre, nil, id: "right-editor-#{i}", data: {code: ex.fixed}, style: "height:100%;padding-bottom:0" %>
	</div>
</div>	
<br>
<% end %>

</div>
</div>

<script>
var initDiffView = function(i){
	console.log('initDiffView()');
	var val1 = $('#left-editor-'+i).data('code');
	var val2 = $('#right-editor-'+i).data('code');
	console.log('val1');
	console.log(val1);
	console.log('val2');
	console.log(val2);
	var dmp = new diff_match_patch();
	var diff = dmp.diff_main(val1, val2);
	console.log(diff);
	var ds = dmp.diff_prettyHtml(diff);
	document.getElementById('right-editor-'+i).innerHTML = ds;
}

$(document).ready(function(){
	console.log('document.ready()');
	var ex_count = parseInt($('#ex-count').data('ex_count'));
	for(var i = 0; i < ex_count; i++){
		(function(j){initDiffView(j)})(i);
	}
});

</script>
