<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>Search for diagnostic messages.</p>
			</div>
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>



<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
	<div class="card-block" style="padding: 0.5rem 0.5rem">
	<p style="margin-bottom:0">
		<% if !@empty_query %>
			Found <b><%= @dms.total_entries %></b> diagnostic messages.
		<% else %>
			No search query entered.  Showing all <b><%= @dms.total_entries %></b> diagnostic messages in random order. 
		<% end%>
		<span class="pull-right"><a href="" data-toggle="modal" data-target="#myModal">Help <i class="fa fa-question-circle" aria-hidden="true"></i></a></span></p>
	</div>
</div>


<br>
<div class="card">
<div class="card-block" style="padding-top:0">
<table class="table table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th class="text-right">Examples</th>
			<th class="text-right">Bing Search Results</th>
			<th class="text-right">Template</th>
    </tr>
  </thead>

  <tbody>
    <% @dms.each do |diagnostic_message| %>
      <tr>
        <td><%= link_to diagnostic_message.id, compiler_diagnostic_message_path(diagnostic_message.compiler, diagnostic_message) %></td>
				<% if !@empty_query %>
        	<!--<td><%# diagnostic_message.pg_search_highlight.html_safe %></td>-->
        	<td><%= diagnostic_message.message %></td>
				<% else %>
        	<td><%= diagnostic_message.message %></td>
				<% end %>
        <td class="text-right"><%= diagnostic_message.examples.size %></td>
        <td class="text-right"><%= diagnostic_message.bing_search_result_count %></td>
        <td class="text-right"><%= link_to diagnostic_message.template_id, compiler_template_path(diagnostic_message.compiler, diagnostic_message.template) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
	<div class="page_info">
		<%= page_entries_info @dms %>
	</div>
	<div class="row justify-content-center">
	<%= will_paginate @dms %>
	</div>
</div>

</div>
</div>
<br/>

</div>
</div>
