<style type="text/css" media="screen">

.card-header {
	padding-left: 10px;
}


.card-group .card a{
	color: lightgrey;
}
.card-group:hover .card a{
	color: #0275d8;
}
#first-col, #second-col {
	height: 100%;
}
#first-card, #second-card, #third-card {
	margin-top:15px;
	margin-bottom:15px;
	width: 100%;
}
#first-col {
	padding-right:7px;
}
#second-col {
	padding-left:7px;
}
#second-card pre{
	/*padding-left: 15px;
	padding-right: 15px;*/
	padding: 0.75rem 1.25rem;
	background-color: black;
	color: white;
	height: 100%;
	font-size: 12px;
}
#editor {
/*position:absolute;*/
	width: 100%;
	height: 100%;
	/*border: 1px solid rgba(0,0,0,0.125)*/
	/*height: 400px;*/
}

.token {
	/*background-color: rgba(0, 0, 0, 0.125);*/
	background-color: lightyellow;
	padding: 2px 4px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}
pre { 
	font-size: 12px;
}



.separator {
    text-align: center;
    height: 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.5em;
}
.separator:first-line {
    background-color: white;
}
.separator:before {
    content: "__";
    color: white;
}
.separator:after {
    content: "__";
    color: white;
}

</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Possible Fixes Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<p>This is a list of code edits. <b>One</b> of these edits may fix your code.</p>
				<h3>Legend</h3>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-success">Insert </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<p><span class="text-danger">Delete </span> <span class="token">TOKEN</span></p>
					</div>
					<div class="col-md-8">
						<p>Insert the specified TOKEN in your code.</p>
					</div>
				</div>
				<h3>Examples</h3>
				<p>For each code edit, we display a small piece of code that has a similar problem as <b>your code</b> and a corresponding fix.</p>

				<h3>How do we make these suggestions?</h3>
				<p>We have a large set of buggy code snippets and corresponding fixes code snippets.  We categorize all fix
				</p>
			</div>	
			<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
			-->
    </div>
  </div>
</div>


<div class="row" style="background-color:#f3f3f3" id="wrapper">
<div class="col-md-12" id="first-col" style="">
		<div class="card" id="first-card" style="">
			<div class="card-header">
				Code
				<span class="float-sm-right">
				<%= form_tag(welcome_fix_search_control_path, :class => "text-left", :method => 'get') do %>
					<label class="sr-only" for="buggy">Buggy Source Code</label>
					<textarea hidden="true" class="form-control" name="buggy" id="buggy"></textarea>
					<button class="btn btn-sm btn-outline-success" type="submit">Compile <i class="fa fa-gears" aria-hidden="true"></i></button>
				<% end %>
				</span>
			</div><!-- card-header -->
			<div id="editor"><%= @code %></div>
		</div><!-- card -->

		<div class="card" id="second-card" style="">
		<div class="card-header">
			Compiler Output
		</div><!-- card-header -->
		<pre>$ <%= @cmd %>
<%= @compiler_output %></pre>
		</div><!-- card -->

</div><!-- col-md-12 -->

</div><!-- row -->



<script>
var initDiffView = function(i,j){
	console.log('i=' + i + '\t' + 'j=' + j);
	var val1 = $('#left-editor'+'-'+i+'-'+j).data('code');
	var val2 = $('#right-editor'+'-'+i+'-'+j).data('code');
	//console.log('val1');
	//console.log(val1);
	//console.log('val2');
	//console.log(val2);
	var dmp = new diff_match_patch();
	var diff = dmp.diff_main(val1, val2);
	//console.log(diff);
	var ds = dmp.diff_prettyHtml(diff);
	document.getElementById('right-editor'+'-'+i+'-'+j).innerHTML = ds;
	$('#example-' + i + '-' + j).removeAttr('hidden');
	$('#examples-' + i).data('examples-shown', j+1);
	var total = parseInt($('#examples-'+i).data('examples-count'));
	var shown = parseInt($('#examples-'+i).data('examples-shown'));
	var remaining = total - shown;
	if(remaining > 0){
		suffix = ' more example';
		if (remaining > 1){
			suffix = suffix + 's';
		} 
		$('#examples-button-' + i).html(remaining + suffix);
		$('#examples-button-' + i).attr("onclick", 'initDiffView(' + i + ',' + (j+1) + ')');
	} else {
		$('#examples-button-' + i).prop('hidden', 'true');
	}
}

$(document).ready(function(){
	var editor = ace.edit('editor')
	var textarea = $('textarea[name="buggy"]');
	textarea.val(editor.getSession().getValue());
	editor.getSession().on("change", function(){
		textarea.val(editor.getSession().getValue());
	});
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/c_cpp");
	//editor.setOption("maxLines", Infinity);
	//editor.setOption("maxLines", 15);

	/*
	var fix_count = parseInt($('#third-card').data('fixes-count'));
	for(var i = 0; i < fix_count; i++){
		//var ex_count = parseInt($('#examples-'+i).data('examples-count'));
		var ex_count = 1;
		console.log('ex_count='+ex_count);
		for(var j = 0; j < ex_count; j++){
			(function(f,e){initDiffView(f,e)})(i,j);
		}
	}
	*/
	
	var set_height = function(){
		console.log('set_height()');
		var window_height = $(window).height();
		console.log(window_height);
		var navbar_height = $('#main-nav').outerHeight();
		var wrapper_height = window_height - navbar_height;
		$('#main-content').height(window_height - navbar_height);
		wrapper_height = wrapper_height;
		if($(window).width() > 754){
			$('#wrapper').height(wrapper_height);
			$('#first-card').height(wrapper_height * (2/4) - 25);
			$('#second-card').height(wrapper_height * (2/4) - 25);
		} else {
			$('#wrapper').height(800);
			$('#first-row').height(800);
			$('#second-row').height(200);
			$('#first-col').height(200);
			$('#second-col').height(600);
		}
	};

	set_height();
	$(window).resize(set_height);

}); //ready()


</script>
