<h1>Compilers</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Family</th>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Created by</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @compilers.each do |compiler| %>
      <tr>
        <td><%= compiler.family %></td>
        <td><%= compiler.name %></td>
        <td><%= compiler.description %></td>
        <td><%= link_to compiler.url, compiler.url %></td>
        <td><%= link_to "Creator", user_path(compiler.created_by) %></td>
        <td><%= link_to 'Show', compiler %></td>
        <td><%= link_to 'Edit', edit_compiler_path(compiler) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compiler', new_compiler_path %>
