<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-sm-12 my-auto">
  <p style="margin:0">
		<%= link_to(@compiler.name, compiler_path(@compiler)) %>
	/ <%= link_to("Templates", compiler_templates_path(@compiler)) %>
	</p>
	</div>
</div>

<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<br>
<div class="card">
<div class="card-block">
	<ul class="list-group list-group-flush">
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Templates: <span><%= @templates.total_entries %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Templates with Examples: <span style="margin:0"><%= @compiler.templates_with_examples.size %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Templates without Examples: <span style="margin:0"><%= @compiler.templates_without_examples.size %></span>
		</li>
	</ul>
</div><!-- card-block -->
</div><!-- card -->

<br>

<div class="card">
<div class="card-block">
	<table class="table table-sm" style="margin-bottom:0">
		<thead>
			<tr>
				<th>Component</th>
				<th class="text-right">Fix Examples</th>
				<th class="text-right">Covered</th>
				<th class="text-right">Total</th>
				<th class="text-right">Coverage %</th>
			</tr>
		</thead>
	<% JSON.parse(@compiler.summary_by_selected_components.to_s).each do |c,stats|  %>
		<tr>
			<td><%= c %></td>
			<td class="text-right"><%= stats['examples'] %></td>
			<td class="text-right"><%= stats['covered'] %></td>
			<td class="text-right"><%= stats['total'] %></td>
			<td class="text-right"><%= stats['coverage'] %></td>
		</tr>
	<% end %>
	</table>
</div><!-- card-block -->
</div><!-- card -->

<br>

<div class="card">
<div class="card-block" style="padding-top:0">
	<table class="table table-striped table-sm" style="margin-bottom:0">
		<thead>
			<tr>
				<th class="text-right">ID</th>
				<!--<th>Name</th>-->
				<th>Template</th>
				<th class="text-right">Patches</th>
				<th class="text-right">Examples</th>
				<th class="text-right">Diagnostic Messages</th>
				<th class="text-right">Web Search Queries</th>
				<th class="text-right">Search Results</th>
				<th class="text-right">Contributor</th>
			</tr>
		</thead>

		<tbody>
			<% @templates.each do |template| %>
				<tr>
					<td class="text-right"><%= link_to template.id, compiler_template_path(@compiler, template) %></td>
					<!--<td><%= template.name %></td>-->
					<td><%= template.template %></td>
					<td class="text-right"><%= template.patch_count || "nil" %></td>
					<td class="text-right"><%= template.examples_count || "nil" %></td>
					<td class="text-right"><%= template.diagnostic_messages_count %></td>
					<td class="text-right"><%= template.web_search.keys.size %></td>
					<td class="text-right"><%= template.sampled_search_result_count %></td>
					<td class="text-right">
						<a href="<%= user_path(@compiler.creator) %>">
						<% if template.creator.image_url.nil? || template.creator.image_url.blank? %>
							<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
						<% else %>
							<img src="<%=template.creator.image_url %>?sz=25" class="rounded-circle"></img>
						<% end %>
						</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<br>
	<div class="flickr_pagination">
		<div class="page_info">
			<%= page_entries_info @templates %>
		</div>
		<div class="row justify-content-center">
		<%= will_paginate @templates %>
		</div>
	</div>

</div><!-- card-block -->
</div><!-- card -->

</div> <!--row -->
</div> <!--col -->
