<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-sm-12 my-auto">
  <p style="margin:0">
		<%= link_to(@template.compiler.name, compiler_path(@template.compiler)) %>
	/ <%= link_to("Templates", compiler_templates_path(@template.compiler)) %>
	</p>
	</div>
</div>


<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<br>
<div class="card">
<div class="card-block">
	<ul class="list-group list-group-flush">
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Name: <span><%= @template.name %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Template: <span style="margin:0"><%= @template.template.blank? ? "<Blank>" : @template.template %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Patches: <span><%= @template.patch_count %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Diagnostic Messages: <span><%= @template.diagnostic_messages.size %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Examples: <span><%= @template.examples.size %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Web Search Queries: <span><%= @template.web_search.keys.size %></span>
		</li>

		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Sampled Query String: <span><%= @template.sampled_query.blank? ? "<NONE>" : @template.sampled_query %></span>
		</li>
		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			Sampled Search Results Count: <span><%= @template.sampled_search_result_count %></span>
		</li>

		<li class="list-group-item justify-content-between" style="padding:0.5rem">
			<% if user_signed_in? && (current_user.id == @compiler.creator.id) %>
				<%= link_to 'Edit', edit_compiler_path(@compiler) %> |
				<%= link_to 'Back', compilers_path %>
			<% end %>
		</li>
	</ul>

</div><!-- card-block -->
<% if user_signed_in? && current_user.id == 1 %>
<div class="card-footer">
<%= link_to 'Edit', edit_compiler_template_path(@template.compiler, @template) %>
</div>
<% end %>
</div><!-- card -->

<br>

<div class="card">
<div class="card-block">
	<table class="table table-sm" style="margin-bottom:0">
		<thead>
			<tr>
				<th>Patch</th>
				<th class="text-right">Fix Examples</th>
			</tr>
		</thead>
	<% @template.patches.each do |p,examples|  %>
		<tr>
			<td><%= p.nil? ? '<BLANK>' : p %></td>
			<td class="text-right"><%= examples %></td>
		</tr>
	<% end %>
	</table>
</div><!-- card-block -->
</div><!-- card -->




<br>
<div class="card">
<div class="card-block" style="padding-top:0">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <!--<th>Name</th>-->
      <th>Diagnostic Messages</th>
      <th class="text-right">Examples</th>
			<th class="text-right">Search Results</th>
    </tr>
  </thead>

  <tbody>
    <% @dms.each do |diagnostic_message| %>
      <tr>
        <td><%= link_to diagnostic_message.id, compiler_diagnostic_message_path(@compiler, diagnostic_message) %></td>
        <!--<td><%= truncate(diagnostic_message.name) %></td>-->
        <td><%= truncate(diagnostic_message.message, length: 80) %></td>
        <td class="text-right"><%= diagnostic_message.examples.size %></td>
        <td class="text-right"><%= diagnostic_message.bing_search_result_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
	<div class="page_info">
		<%= page_entries_info @dms %>
	</div>
	<div class="row justify-content-center">
	<%= will_paginate @dms %>
	</div>
</div>

</div><!-- card-block -->
</div><!-- card -->


</div> <!--row -->
</div> <!--col -->
