<%= form_for(compilation_event) do |f| %>
  <% if compilation_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compilation_event.errors.count, "error") %> prohibited this compilation_event from being saved:</h2>

      <ul>
      <% compilation_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_area :code %>
  </div>

  <div class="field">
    <%= f.label :output %>
    <%= f.text_area :output %>
  </div>

  <div class="field">
    <%= f.label :command %>
    <%= f.text_field :command %>
  </div>

  <div class="field">
    <%= f.label :error %>
    <%= f.text_area :error %>
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event %>
  </div>

  <div class="field">
    <%= f.label :examples_count %>
    <%= f.number_field :examples_count %>
  </div>

  <div class="field">
    <%= f.label :fixes_count %>
    <%= f.number_field :fixes_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
