<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @compilation_event.user_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @compilation_event.code %>
</p>

<p>
  <strong>Output:</strong>
  <%= @compilation_event.output %>
</p>

<p>
  <strong>Command:</strong>
  <%= @compilation_event.command %>
</p>

<p>
  <strong>Error:</strong>
  <%= @compilation_event.error %>
</p>

<p>
  <strong>Event:</strong>
  <%= @compilation_event.event %>
</p>

<p>
  <strong>Examples count:</strong>
  <%= @compilation_event.examples_count %>
</p>

<p>
  <strong>Fixes count:</strong>
  <%= @compilation_event.fixes_count %>
</p>

<%= link_to 'Edit', edit_compilation_event_path(@compilation_event) %> |
<%= link_to 'Back', compilation_events_path %>
