<%= form_for([@compiler, @dm, example]) do |f| %>
  <% if example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(example.errors.count, "error") %> prohibited this example from being saved:</h2>

      <ul>
      <% example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    <%= f.label :buggy %>
    <div id="editor1" style="height:150px;border: 1px solid rgba(0, 0, 0, 0.15)"><%= example.buggy %></div>
    <%= f.text_area :buggy, hidden: "true", class: "form-control" %>
  </div>

	<div class="form-group">
    <%= f.label :fixed %>
    <div id="editor2" style="height:150px;border: 1px solid rgba(0, 0, 0, 0.15)"><%= example.fixed %></div>
    <%= f.text_area :fixed, hidden: "true", class: "form-control" %>
  </div>

	<!--	
  <div class="form-group">
    <%= f.label :fixed %>
    <%= f.text_area :fixed, class: "form-control" %>
  </div>
	-->

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-block btn-outline-primary" %>
  </div>
<% end %>

<script>
var editor1 = ace.edit('editor1');
var textarea1 = $('textarea[name="example[buggy]"]');
editor1.getSession().on("change", function () {
 	textarea1.val(editor1.getSession().getValue());
});
editor1.setTheme("ace/theme/chrome");
editor1.getSession().setMode("ace/mode/c_cpp");

var editor2 = ace.edit('editor2');
var textarea2 = $('textarea[name="example[fixed]"]');
editor2.getSession().on("change", function () {
 	textarea2.val(editor2.getSession().getValue());
});
editor2.setTheme("ace/theme/chrome");
editor2.getSession().setMode("ace/mode/c_cpp");

</script>
