<h1>Editing Example</h1>

<%= render 'form', example: @example %>

<%= link_to 'Show', compiler_diagnostic_message_example_path(@compiler, @dm, @example) %> |
<%= link_to 'Back', compiler_diagnostic_message_examples_path(@compiler, @dm) %>
