<h1>Examples</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Diagnostic message</th>
      <th>Buggy</th>
      <th>Fixed</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= example.diagnostic_message_id %></td>
        <td><%= example.buggy %></td>
        <td><%= example.fixed %></td>
        <td><%= example.created_by %></td>
        <td><%= link_to 'Show', compiler_diagnostic_message_example_path(@compiler, @dm, example) %></td>
        <td><%= link_to 'Edit', edit_compiler_diagnostic_message_example_path(@compiler, @dm, example) %></td>
        <td><%= link_to 'Destroy', compiler_diagnostic_message_example_path(@compiler, @dm, example), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example', new_compiler_diagnostic_message_example_path(@compiler, @dm) %>
