<style>

@media (min-width: 576px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 768px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 992px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.card-columns {
		column-count: 2;
	}
}

.card-header {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.card-footer {
	padding-left: 1.0rem;
	padding-right: 1.0rem;
}

.card-block {
	padding-left: 0.25rem;
	padding-right: .25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
  
</style>


<div class="row" style="height:3rem;border-bottom:1px solid lightgrey">
	<div class="col-sm-12 my-auto">
  	<p style="margin-bottom:0">
		<%= link_to(@compiler.name, compiler_path(@compiler)) %>
		/ <%= link_to 'Templates', compiler_templates_path(@example.diagnostic_message.compiler) %>
		/ <%= link_to @example.diagnostic_message.template.id, compiler_template_path(@example.diagnostic_message.compiler, @example.diagnostic_message.template) %>
		/ <%= link_to 'Diagnostic Messages', compiler_diagnostic_messages_path(@example.diagnostic_message.compiler) %>
		/ <%= link_to @example.diagnostic_message.id, compiler_diagnostic_message_path(@example.diagnostic_message.compiler, @example.diagnostic_message.id) %>
		/ <span style="font-family:Consolas, Lucida Console, monospace;color:red"><b><%= @example.diagnostic_message.message %></b></span>
		</p>
	</div>
</div>


<div class="row" style="background-color:#f3f3f3">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


<br>
<div class="card-columns">
	<div class="card">
		<div class="card-header" style="background-color:transparent">
			Buggy
			<span class="pull-right"><%= @example.buggy_loc.nil? ? 'Unknown LOC' : @example.buggy_loc  %></span>
		</div>
		<div class="card-block">
			<%= content_tag :pre, @example.buggy, id: "left-editor", data: {code: @example.buggy}, style: "height:100%;" %>
		</div>
	</div>

	<br>
	<div class="card">
		<div class="card-header" style="background-color:transparent">
			Buggy Compilation Output
			<span class="pull-right"><%= @example.buggy_compilation_status.nil? ? 'Not Compiled yet.' : @example.buggy_compilation_status  %></span>
		</div>
		<div class="card-block">
			<% if !@example.buggy_compilation_output.nil? %>
				<%= content_tag :pre, "$ clang++-3.9 -c -Wfatal-errors -std=c++14 -stdlib=libc++\n" + @example.buggy_compilation_output %>
			<% end %>
		</div>
		<div class="card-footer" style="background-color:transparent">
			<span style="color:red"><%= @example.extract_diagnostic_message(@example.buggy_compilation_output) %></span>
		</div>
	</div>

	<br>
	<div class="card">
		<div class="card-header" style="background-color:transparent">
			Fix
			<span class="pull-right"><%= @example.fixed_loc.nil? ? 'Unknown LOC' : @example.fixed_loc  %></span>
		</div>
		<div class="card-block">
			<%= content_tag :pre, nil, id: "right-editor", data: {code: @example.fixed}, style: "height:100%;" %>
		</div>
	</div>

	<br>
	<div class="card">
		<div class="card-header" style="background-color:transparent">
			Fixed Compilation Output
			<span class="pull-right"><%= @example.fixed_compilation_status.nil? ? 'Not Compiled yet.' : @example.fixed_compilation_status  %></span>
		</div>
		<div class="card-block">
			<% if !@example.fixed_compilation_output.nil? %>
				<%= content_tag :pre, "$ clang++-3.9 -c -Wfatal-errors -std=c++14 -stdlib=libc++\n" + @example.fixed_compilation_output %>
			<% end %>
		</div>
		<div class="card-footer" style="background-color:transparent">
			<span style="color:red"><%= @example.extract_diagnostic_message(@example.fixed_compilation_output) %></span>
		</div>
	</div>

</div><!-- card-columns -->


<br>
<div class="card-deck">
	<div class="card">
		<div class="card-header" style="background-color:transparent">Uncompilable Code Tokens</div>
		<div class="card-block" style="line-height:2rem">
		<% @example.buggy_tokens.each do |t| %>
			<span style="border:1px solid lightgrey; padding:0.25rem;line-height:1.5rem"><%= t %></span>
		<% end %>
		</div>
		<div class="card-header" style="background-color:transparent">
			<%= @example.buggy_tokens_size || "Unknown Number" %> Tokens
		</div>
	</div>

	<div class="card">
		<div class="card-header" style="background-color:transparent">Fixed Code Tokens</div>
		<div class="card-block" style="line-height:2rem">
		<% @example.fixed_tokens.each do |t| %>
			<span style="border:1px solid lightgrey; padding:0.25rem;line-height:1.5rem"><%= t %></span>
		<% end %>
		</div>
		<div class="card-header" style="background-color:transparent">
			<%= @example.fixed_tokens_size || "Unknown Number" %> Tokens
		</div>
	</div>
</div>	

<br>

<!--Tokenizer Output -->
<div class="card-deck">
	<div class="card" style="overflow:auto">
		<div class="card-header" style="background-color:transparent">Buggy Tokenizer Output</div>
		<div class="card-block" style="line-height:2rem">
		<%= content_tag :pre, "$ clang++-3.9 -cc1 -dump-tokens -Wfatal-errors -stdlib=libc++ -std=c++14\n" + @example.buggy.tokenizer_output %>

		</div>
	</div>

	<div class="card" style="overflow:auto">
		<div class="card-header" style="background-color:transparent">Fixed Tokenizer Output</div>
		<div class="card-block" style="line-height:2rem">
		<%= content_tag :pre, "$ clang++-3.9 -cc1 -dump-tokens -Wfatal-errors -stdlib=libc++ -std=c++14\n" + @example.fixed.tokenizer_output %>
		</div>
	</div>
</div>	


<br>

<div class="card">
<div class="card-header">Patch</div>
<div class="card-block" style="padding-top: 0.75rem;padding-bottom: 0.75rem">
<%= @example.patch %>
</div>
</div>


<br>




<style>
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
</style>



<div class="diff">
	<%= @diff.html_safe %>
</div>


<br>

<div class="card">
<div class="card-block" style="padding-top: 0.75rem;padding-bottom: 0.75rem">
<div class="media">
	<img src="<%= @example.creator.image_url %>?sz=50" class="d-flex mr-3" alt="<%= @example.creator.name %>">
  <div class="media-body">
    <h6 class="mt-0"><%= link_to @example.creator.email, user_path(@example.creator) %></h6>
		<small><%= @example.created_at.strftime('%B %e at %l:%M %p') %></small>
  </div>
</div>
</div>
</div>

<br>

<% if user_signed_in? %>
<% if current_user.id == @example.created_by %>
<p>
<%= link_to 'Edit', edit_compiler_diagnostic_message_example_path(@compiler, @dm, @example), class: "btn btn-block btn-secondary" %> 
</p>
<% end %>
<p>
<%= link_to 'Back to all examples', compiler_diagnostic_message_examples_path(@compiler, @dm) , class: "btn btn-block btn-secondary" %>
</p>
<% end %>

</div>
</div>

<script>
var ready = function(){
	var val1 = $('#left-editor').data('code');
	var val2 = $('#right-editor').data('code');
	console.log('val1');
	console.log(val1);
	console.log('val2');
	console.log(val2);
	var dmp = new diff_match_patch();
	var diff = dmp.diff_main(val1, val2);
	console.log(diff);
	var ds = dmp.diff_prettyHtml(diff);
	document.getElementById('right-editor').innerHTML = ds;
}

$(document).ready(ready);

</script>
