<style>
#editor {
/*position:absolute;*/
	width: 100%;
	height: 350px;
	/*border: 1px solid rgba(0,0,0,0.125)*/
	/*height: 400px;*/
}
</style>
<%= form_for(snippet) do |f| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class="card">
	<div class="card-header">C++ Snippet</div>
	<div id="editor"><%= snippet.snippet %></div>
  </div><!-- card -->
  <%= f.text_area :snippet, class: "form-control", hidden: true, id: "code" %>

	<br>

	<div class="card">
	<div class="card-header"><%= f.label :source, "Source (e.g., URL)", class: "form-label" %></div>
  <%= f.text_area :source, class: "form-control", rows:1, placeholder: "http://" %>
  </div><!-- card -->

	<br>

	<div class="card">
	<div class="card-header"><%= f.label :notes, "Notes (What is the solution? etc.)", class: "form-label" %></div>
  <%= f.text_area :notes, class: "form-control", rows: 10, placeholder: "What is the solution? etc." %>
  </div><!-- card -->


	<br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<script>
$(document).ready(function(){
	var textarea = $('#code');
	var editor = ace.edit('editor')
	editor.getSession().on("change", function(){
		textarea.val(editor.getSession().getValue());
	});
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/c_cpp");
	editor.setOption("showPrintMargin", false)
});

</script>
