<div class="row" style="background-color:#f3f3f3">
<div class="col-sm-12" style="padding:0">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
  <li class="breadcrumb-item"><%= link_to "Snippets", snippets_path %></li>
</ol>
</div>
<div class="col-sm-12">
<div class="card">
<div class="card-header">
Snippets
</div>
<div class="card-block">

<% @snippets.each do |snippet| %>
	<div class="card-group" style="height:300px;overflow:auto">
		<div class="card" style="overflow:auto">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-4"><%= link_to snippet.id, snippet %></div>
				<div class="col-sm-4"><%= snippet.tokens.size %> Tokens</div>
				<div class="col-sm-4"><%= snippet.source || 'Source' %></div>
			</div><!-- row -->

		</div>
		<pre style=""><%= snippet.snippet %></pre>
		</div><!-- card -->
		<div class="card" style="overflow:auto">
		<div class="card-header">(ID: <%= snippet.diagnostic_message_id %>) <%= link_to snippet.diagnostic_message.message, compiler_diagnostic_message_path(snippet.diagnostic_message.compiler, snippet.diagnostic_message) %></div>
		<pre style="background-color:black;color:white;height:100%"><%= snippet.compilation["output"] %></pre>
		</div><!-- card -->
	</div><!-- card-group -->
<% end %>
<br>
	</div><!-- card-block -->
	<div class="card-footer">
	<%= link_to 'New Snippet', new_snippet_path, class: "btn btn-primary btn-block" %>
	</div><!-- card-footer -->
</div><!-- card -->
<br>
</div>
</div>
